<div class="dashboard">
  <div class="d-flex justify-between items-center">
    <p class="dashboard__title">Overview & Management Panel</p>
    <button
      (click)="onOpenDialog('create')"
      type="button"
      class="button-primary"
    >
      CREATE NEW
    </button>
  </div>
</div>
@if(store.loading()) {
<app-spinner></app-spinner>
} @if(store.loaded()) {
<app-users-table
  [originalRows]="store.data()"
  (searchChanged)="onSearchByKeyword($event)"
  (filtersChanged)="onTableFiltersSearch($event)"
  (onClear)="onClear($event)"
  (onEdit)="handleUserEdit($event)"
  (onDelete)="handleUserDelete($event)"
>
</app-users-table>
} @if(isVisible()) {
<app-dialog
  [title]="mode === 'create' ? 'Create User' : 'Edit User'"
  (onClose)="onCloseDialog()"
  (onSave)="onSave()"
>
  <div dialog-body>
    <app-users-form [form]="form"></app-users-form>
  </div>
</app-dialog>
} @if(queryParams$ | async){}
