<div class="pagination d-flex justify-center mb-20">
  <button
    class="page__btn page__arrays"
    (click)="goFirst()"
    [disabled]="currentPage() === 1"
  >
    &laquo;
  </button>
  <button
    class="page__btn page__arrays"
    (click)="goPrev()"
    [disabled]="currentPage() === 1"
  >
    &lsaquo;
  </button>

  @for (page of pages(); let index = $index; track index) {
  <button
    class="page__btn"
    [class.active]="page === currentPage()"
    (click)="goToPage(page)"
  >
    {{ page }}
  </button>
  }

  <button
    class="page__btn page__arrays"
    (click)="goNext()"
    [disabled]="currentPage() === totalPages()"
  >
    &rsaquo;
  </button>
  <button
    class="page__btn page__arrays"
    (click)="goLast()"
    [disabled]="currentPage() === totalPages()"
  >
    &raquo;
  </button>
</div>
