:root {
  --color-primary: #3d50df;
  --color-primary-light: #e9ecff;
  --color-primary-dark: #2f3ab2;
  --color-white: #ffffff;

  --text-primary: #1f1f1f;
  --text-secondary: #6b7280;
  --text-placeholder: #a0a4ab;

  --spacing-4: 0.25rem; /* 4px  */
  --spacing-8: 0.5rem; /* 8px  */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-20: 1.25rem; /* 20px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-32: 2rem; /* 32px */

  --font-12: 0.75rem; /* 12px */
  --font-14: 0.875rem; /* 14px */
  --font-16: 1rem; /* 16px */
  --font-18: 1.125rem; /* 18px */
  --font-20: 1.25rem; /* 20px */
  --font-24: 1.5rem; /* 24px */
  --font-30: 1.875rem; /* 30px */
  --font-36: 2.25rem; /* 36px */
  --font-48: 3rem; /* 48px */
}
