<section class="table__section">
  @if(searchPlaceholder()) {
  <div class="table-head d-flex justify-between items-center">
    <div class="table-actions">
      <button
        type="button"
        class="button-clear"
        (click)="search.reset('', { emitEvent: false }); onClear.emit()"
      >
        Clear
      </button>
    </div>
    <div class="table-search">
      <input type="text" [formControl]="search" placeholder="Search keyword" />
    </div>
  </div>
  }

  <div class="table-container">
    <table class="table-container__content">
      <thead>
        @if(headerTpl()) {
        <ng-container *ngTemplateOutlet="headerTpl() ?? null"></ng-container>
        } @if(filterTpl()) {
        <ng-container *ngTemplateOutlet="filterTpl() ?? null"></ng-container>
        }
      </thead>

      <tbody>
        @if(originalRows().length > 0) { @for(row of originalRows(); track
        row.id) {
        <ng-container
          *ngTemplateOutlet="bodyTpl() ?? null; context: { row: row }"
        ></ng-container>
        } } @else {
        <p class="paragraph__no-data">No data found.</p>
        }
      </tbody>
    </table>
  </div>
</section>
