<section class="table__section">
  @if(searchPlaceholder()) {
  <div class="table-head d-flex justify-between items-center">
    <div class="table-actions">
      <button
        type="button"
        class="button-clear"
        (click)="search.reset('', { emitEvent: false }); onClear.emit()"
      >
        Clear
      </button>
    </div>
    <div class="table-search">
      <input type="text" [formControl]="search" placeholder="Search keyword" />
    </div>
  </div>
  }

  <div class="table-container">
    <table class="table-container__content">
      <thead>
        @if(headerTpl) {
        <ng-container *ngTemplateOutlet="headerTpl"></ng-container>
        } @if(filterTpl) {
        <ng-container *ngTemplateOutlet="filterTpl"></ng-container>
        }
      </thead>

      <tbody>
        @if(originalRows().length > 0) { @for(row of originalRows(); track
        row.id) {
        <ng-container
          *ngTemplateOutlet="bodyTpl; context: { row: row }"
        ></ng-container>
        } } @else {
        <p>No data found.</p>
        }
      </tbody>
    </table>
  </div>

  <footer class="table__footer">
    <button class="pagination-btn">&laquo;</button>
    <button class="pagination-btn active">1</button>
    <button class="pagination-btn">2</button>
    <button class="pagination-btn">3</button>
    <button class="pagination-btn">&raquo;</button>
  </footer>
</section>
