<section class="table__section">
  <div class="table-head d-flex justify-between items-center">
    <div class="table-actions">
      <button class="button-clear">Clear</button>
    </div>
    <div class="table-search">
      <input type="text" placeholder="Search keyword" />
    </div>
  </div>

  <div class="table-container">
    <table class="table-container__content">
      <thead>
        <tr>
          <th>
            First Name
            <input type="text" placeholder="Search..." />
          </th>
          <th>
            Last Name
            <input type="text" placeholder="Search..." />
          </th>
          <th>
            Job
            <input type="text" placeholder="Search..." />
          </th>
          <th>
            Gender
            <select id="gender">
              <option value="null" disabled selected hidden>
                Select a gender
              </option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </th>
          <th>
            Date
            <input type="date" />
          </th>
          <th>Archived</th>
        </tr>
      </thead>
      <tbody>
        @for(row of originalRows;track row.firstName){
        <tr>
          <td>{{ row.firstName }}</td>
          <td>{{ row.lastName }}</td>
          <td>{{ row.job }}</td>
          <td>{{ row.gender }}</td>
          <td>{{ row.date }}</td>
          <td>
            <input type="checkbox" class="form__checkbox" />
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <footer class="table__footer">
    <button class="pagination-btn">&laquo;</button>
    <button class="pagination-btn active">1</button>
    <button class="pagination-btn">2</button>
    <button class="pagination-btn">3</button>
    <button class="pagination-btn">&raquo;</button>
  </footer>
</section>
