<form class="form" [formGroup]="form()">
  <div class="relative d-flex flex-column gap-4">
    <label for="firstName" class="form__label">First Name</label>
    <input
      placeholder="First Name"
      formControlName="firstName"
      type="text"
      id="firstName"
      class="form__input"
    />
    @if(form().get("firstName")?.invalid && form().get("firstName")?.touched){
    <p class="form__error">Input is required (atleast 3 chars.)</p>
    }
  </div>

  <div class="relative d-flex flex-column gap-4">
    <label for="lastName" class="form__label">Last Name</label>
    <input
      placeholder="Last Name"
      formControlName="lastName"
      type="text"
      id="lastName"
      class="form__input"
    />
    @if(form().get("lastName")?.invalid && form().get("lastName")?.touched){
    <p class="form__error">Input is required (atleast 3 chars.)</p>
    }
  </div>

  <div class="relative d-flex flex-column gap-4">
    <label for="gender" class="form__label">Gender</label>
    <select formControlName="gender" id="gender" class="form__input">
      <option value="null" disabled selected hidden>Select a gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    @if(form().get("gender")?.invalid && form().get("gender")?.touched){
    <p class="form__error">Gender is required</p>
    }
  </div>

  <div class="relative d-flex flex-column gap-4">
    <label for="job" class="form__label">Job</label>
    <input
      placeholder="Select a job"
      formControlName="job"
      type="text"
      id="job"
      class="form__input"
    />
    @if(form().get("job")?.invalid && form().get("job")?.touched){
    <p class="form__error">Job is required</p>
    }
  </div>

  <div class="relative d-flex flex-column gap-4">
    <label for="date" class="form__label">Date</label>
    <input formControlName="date" type="date" id="date" class="form__input" />
    @if(form().get("date")?.invalid && form().get("date")?.touched){
    <p class="form__error">Date is required</p>
    }
  </div>

  <div class="d-flex items-center gap-4">
    <input
      formControlName="archived"
      type="checkbox"
      id="archived"
      class="form__checkbox"
    />
    <label for="archived" class="form__checkbox-label">Archived</label>
  </div>
</form>
