<app-table
  [originalRows]="originalRows()"
  [columns]="columns"
  (searchChanged)="searchChanged.emit($event)"
  (onClear)="clear()"
  (sortChanged)="onSortChange($event)"
>
  <!-- Optional Column Filter -->
  <ng-template #filter>
    <tr [formGroup]="form">
      @for(col of columns; track col.header) {
      <th>
        @switch (col.type) { @case ('text') {
        <input
          type="text"
          placeholder="Search..."
          [formControlName]="col.field"
        />
        } @case ('date') {
        <input type="date" [formControlName]="col.field" />
        } @case ('select') {
        <select [formControlName]="col.field">
          <option disabled selected [value]="null">Select</option>

          @for(opt of col.options;track opt.label){
          <option [value]="opt.value">
            {{ opt.label }}
          </option>
          }
        </select>
        } @case ('actions') {} }
      </th>
      }
    </tr>
  </ng-template>

  <!-- Table Body Template -->
  <ng-template #body let-row="row">
    <tr>
      <td>{{ row.firstName }}</td>
      <td>{{ row.lastName }}</td>
      <td>{{ row.job }}</td>
      <td>{{ row.gender }}</td>
      <td>{{ row.date }}</td>
      <td>
        <!-- <input
          class="form__checkbox"
          type="checkbox"
          [checked]="row.archived"
          disabled
        /> -->
        <p
          class="archived-badge"
          [class]="row.archived ? 'archived' : 'not-archived'"
        >
          {{ row.archived ? "Yes" : "No" }}
        </p>
      </td>
      <td>
        <button (click)="editRow(row)" title="Edit" class="button-edit">
          Edit
        </button>
        <button (click)="deleteRow(row)" title="Delete" class="button-delete">
          Delete
        </button>
      </td>
    </tr>
  </ng-template>
</app-table>
